.env
lessons.docx


--------------------------------

# Partial code within seasons script used for debugging.
def main():
    name, email, phone = get_person_info()
    
    risk_data = call_risk_detector(name, email, phone)
    #print("Full Risk Detector response:")
    #pprint(risk_data)

    #List of risks associated with the response
    input_results = json.loads(risk_data['result'])
    #print("input_results response:")
    #pprint(input_results)

    # Display risk score
    #print(f"Risk score: {(input_results['score'])}")
    #print(f"Risks: {(input_results['risks'])})")
    
    #Display worst risk. Consider adding logic if user wants to see worst risk details.
    #print(f"Worst Risk: {(input_results['worstRisk'])})")


# Partial code in Holiday API script used for debugging.
print(response) # This only shows the status code of the response
print(response.json()) # This shows the full JSON response from the API
    
    # ----------The below code was when this existed outside a function. ---------------#
    found = False
    for holiday in holidays:
        #print(holiday['date']) # This prints all the holiday dates in the response
        if holiday["date") == formatted_date:
            print(holiday["localName"]  # This prints the name of the holiday if the date matches
            found = True
            break # Exit the loop once the holiday is found
   # if not found:
    #    print("No holiday on this date.")
